#!/bin/sh
# GitLab pre-install script

DEST_DIR=<%= install_dir %>

skip_migrations_file=/etc/gitlab/skip-auto-migrations

main() {
  if [ -e "${skip_migrations_file}" ] ; then
    # The user wants us to do nothing
    return
  fi

  notify "Backing up GitLab SQL database (excluding Git repositories, uploads)"
  if ! ${DEST_DIR}/bin/gitlab-rake gitlab:backup:create SKIP=repositories,uploads ; then
    notify
    notify "Backup failed! If you want to skip this backup, run the following command and"
    notify "try again:"
    notify
    notify "  sudo touch ${skip_migrations_file}"
    notify
  fi

  # Missing: GitLab CI backup
}

notify() {
  echo "gitlab preinstall: $1"
}

if [ -n "${GITLAB_DEBUG}" ] ; then
  notify "debug: arguments: $@"
fi

case "$1" in
  2)
    # Looks like an RPM upgrade
    main
    ;;
  upgrade)
    # Looks like a DEB upgrade
    main
    ;;
  *)
    # This is not an upgrade, nothing to do.
    ;;
esac
